---
layout: archive
title: "Posts by Tags"
permalink: /tags/
---

{% include base_path %}
{% assign published_reviews = site.book_reviews | where_exp: "post", "post.date <= site.time" %}
{% assign tagged_items = site.posts | concat: published_reviews %}
{% include group-by-array collection=tagged_items field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="list-heading">{{ tag }}</h2>
  {% for post in posts %}
    {% include post-item.html %}
  {% endfor %}
{% endfor %}
