<footer class="site-footer">
  <div class="site-footer__inner">
    <div>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</div>
    <ul class="site-footer__links">
      {% if site.author.github %}<li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>{% endif %}
      {% if site.author.kaggle %}<li><a href="https://www.kaggle.com/{{ site.author.kaggle }}">Kaggle</a></li>{% endif %}
      {% if site.author.email %}<li><a href="mailto:{{ site.author.email }}">Email</a></li>{% endif %}
      {% if site.atom_feed.hide != true %}<li><a href="{{ '/feed.xml' | relative_url }}">RSS</a></li>{% endif %}
    </ul>
  </div>
</footer>
